<h2>Houses</h2>

<ul id="houses">
<% for house in @houses %>
  <li>
    <a href="/houses/<%= house.id %>">
      <%= house.name %><br>
      <img src="<%= house.url %>" alt="<%= house.name %>">
    </a>
  </li>
<% end %>
</ul>
