<% houses = House.all()%>
<form action="/students" method="POST">
  <fieldset>
    <label for="first_name">First name</label>
    <input type="text" name="first_name">
  </fieldset>
  <fieldset>
    <label for="last_name">Last name</label>
    <input type="text" name="last_name">
  </fieldset>
  <fieldset>
    <label for="house_id">House</label>
    <select name="house_id">
    <% for house in houses %>
    <option value="<%=house.id %>"><%=house.name %></option>
    <% end %>
    </select>
  </fieldset>
  <fieldset>
    <label for="age">Age</label>
    <input type="number" name="age">
  </fieldset>
  <input type="submit" value="SAVE">
</form>
